.nav {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    z-index: 3;
    text-align: center;
}
.nav li a {
    text-decoration: none;
    color: #EEEEEE;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    border-right: 2px solid #EEEEEE;
    transition: .5s all;
}
.nav li:last-child a {
    border: none;
}
.nav li:not(:last-child) a:hover {
    background-color: #EEEEEE;
    color: #222831;
}
