.card {
    margin: 0 auto;
}

.btn {
    width: 100%;
    background-color: #222831;
    border-radius: 1rem;
    border: 1px solid #EEE;
    padding: 1rem;
    color: #EEE;
    font-weight: bold;
    font-size: 1.2rem;
    transition: .5s all;
}
.btn:hover {
    background-color: #EEE;
    color: #222831;
    border: 1px solid #222831;
}