.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}
.counter input[type="number"] {
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { -moz-appearance:textfield; }